 $color1 : #FFD1E3;
 $color2 : #5BBCFF;
 $color3 : #FFFAB7;
 $color4 : #7EA1FF;
 $color5 : white;


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
     color: black;
 }

 li {
     text-decoration: none;
     list-style: none;
 }

 @import "./mixin.scss";

 .LoginContainer {
     width: 100vw;
     height: 100vh;
     @include flex();
     background-color: $color1;

     >form {
         @include flex(column);
         width: 30vw;
         min-height: 60vh;
         background-color: $color2;
         border-radius: 1rem;

         >div {
             @include grid(2fr 1fr, 0rem);
             width: 20vw;
             //  height: 5vh;
             font-size: larger;

             >label {
                 color: white;
             }

             >input {
                 font-size: large;
                 border: none;
                 background-color: $color2;
                 color: white;
                 border-bottom: 1px solid gray;
             }

             >select {
                 border: none;
                 background-color: $color3;
                 border-radius: 1rem;
                 padding-left: .5rem;
             }

         }

         >p {
             cursor: pointer;
             color: white;
             text-decoration: underline black 1px;
         }

         >button {
             height: 7vh;
             width: 10vw;
             cursor: pointer;
             border-radius: 1rem;
             border: none;
             background-color: $color3;
             font-size: large;

             &:hover {
                 scale: 1.1;
             }
         }
     }

     @media screen and (max-width : 900px) {}
 }

 .NavBarContainer {
     @include flex(row, space-between, center, 1rem);
     width: 100%;
     height: 10vh;
     background-color: $color1;
     padding: 1rem 3rem;

     >div {
         >h2 {
             text-transform: uppercase;
         }
     }

     >div {
         @include flex(row, space-between, center, 0.5rem);

         >span {
             //  border: 1px solid black;
             min-height: 1.5rem;
             min-width: 1rem;
             @include flex();
             border-radius: 50%;
             padding: 1px;
             font-size: large;
             position: absolute;
             margin-left: 1.3rem;
             margin-top: 1.3rem;
             background-color: red;
             color: white;
         }

         >div {

             >div {
                 position: absolute;
                 margin-top: -0.3rem;
                 padding: 0.5rem;
                 padding-top: 0;


                 >dialog {
                     //  border: 1px solid black;
                     //  position: absolute;
                     //  margin-top: -1rem;

                     border: none;

                     >ul {
                         >li {
                             background-color: $color5;
                             cursor: pointer;
                             font-weight: 500;
                             padding: .3rem;
                             font-size: 1.1rem;

                             &:hover {
                                 color: blue;
                                 font-weight: 700;
                             }
                         }
                     }
                 }
             }
         }
     }

     position: relative;
 }

 .sideBarContainer {
     padding: 1rem;
     border: 1px solid black;
     @include flex(column, center, flex-start);

     >h2 {
         font-weight: 500;
         color: rgb(172, 140, 140);
     }

     >form {
         @include flex(column, flex-start);
         //  height: 50vh;

         >div {
             @include flex(row);

             >label {
                 font-weight: 800;
                 font-size: large;
             }

             >select {
                 width: 10vw;
                 height: 5vh;
                 border-radius: 1rem;
                 padding: 0rem 1rem;
                 background-color: $color3;
                 border: 2px solid gray;
                 font-size: 1rem;

                 >option {
                     background-color: $color3;
                     align-items: center;

                 }
             }
         }

         >button {
             //  align-self: flex-end;
             width: 10vw;
             height: 5vh;
             background-color: $color4;
             border-radius: .5rem;
         }
     }
 }

 .HomeContainer {
     @include flex(column);
     background-color: $color1;
     min-height: 100vh;
 }

 .ProductContainer {
     //  background-color: $color1;
     width: 90vw;
     min-height: 80vh;
     //  background-color: $color5;

     @include grid(1fr 4fr, 2rem);

     >aside {
         background-color: $color5;
         border-radius: 1rem;
         padding: 1.5rem;

         >div {

             >h2 {
                 font-weight: 400;
                 color: lightpink;
                 padding-bottom: 1rem;
             }

             >div {
                 @include flex(column, center, flex-start, 0.5rem);

                 >ul {
                     max-height: 60vh;
                     width: 100%;
                     background-color: whitesmoke;
                     overflow-x: scroll;
                     padding: 0.5rem;
                     border-radius: 1rem;

                     &::-webkit-scrollbar {
                         display: none;
                     }

                     >li {
                         font-size: large;
                         padding-bottom: 0.5rem;
                         cursor: pointer;

                         &:hover {
                             scale: 1.01;
                             color: white;
                             font-weight: 600;
                             background-color: #7EA1FF;
                         }
                     }
                 }
             }

             >div {
                 padding: 1rem;

                 >label {
                     font-size: large;
                     font-weight: 700;
                 }

                 >div {
                     @include flex();

                     >button {
                         width: 4.5rem;
                         height: 2rem;
                         font-size: 1rem;
                         background-color: whitesmoke;
                         border-radius: .5rem;
                         cursor: pointer;
                     }
                 }

             }

             >button {
                 //  justify-self: center;
                 background-color: $color4;
                 margin-left: 8vh;
                 height: 2rem;
                 padding: .5rem;
                 border: none;
                 border-radius: .5rem;

                 &:hover {
                     scale: 1.05;
                     cursor: pointer;
                 }
             }

         }
     }

     >main {
         background-color: $color5;
         flex: 4;
         border-radius: 1rem;
         //  min-height: 100vh;
         @include flex(column, flex-start);
         padding: 1rem;



         >div {
             @include grid(1fr 1fr 1fr 1fr, 1rem);
         }

         .PaginationBox {
             //  width: 60%;
             @include flex(row, space-between, center);

             >button {
                 height: 2rem;
                 width: 2.5rem;
                 border: none;
                 border-radius: .5rem;
                 cursor: pointer;
                 font-size: medium;

             }
         }
     }

     @media screen and (max-width : 1190px) {
         @include flex(column);

         >aside {
             width: 100%;

             >div {
                 >div {
                     >ul {
                         max-height: 20vh;
                     }
                 }
             }
         }

         >main {
             width: 100%;

             >div {
                 //  @include grid(1fr 1fr 1fr, 1rem);
                 @include flex(column);
             }

         }
     }
 }

 .ProductCardContainer {
     height: 50vh;
     width: 15.5vw;
     background-color: $color4;
     border-radius: 1rem;
     padding: .2rem;
     @include flex(column);

     &:hover {
         scale: 1.02;
         cursor: pointer;
         border: 1px solid black;
     }

     >img {
         height: 30vh;
         width: 15vw;
         object-fit: fit;
     }

     >div {
         @include flex(column, center, center, 1rem);

         >div {
             @include flex(column, center, center, 1rem);

             //  background-color: $;
             >p {
                 font-weight: 400;
                 color: whitesmoke;
             }
         }

     }

     @media screen and (max-width : 1190px) {
         width: 70vw;
         height: max-content;
         @include flex(row, flex-start);

         >img {
             width: 50%;
         }
     }
 }

 .SliderContainer {
     @include flex(column);
     padding-top: 3rem;

     >img {
         height: 50vh;
         object-fit: fill;
         width: 30vw;
     }

     >div {
         @include flex();

         >button {
             height: 3rem;
             width: 3rem;
             font-size: large;
             background-color: $color4;
             border-radius: 1rem;
         }
     }

     @media screen and (max-width : 900px) {
         >img {
             width: 80%;
         }
     }
 }

 .ProductDescriptionContainer {
     @include grid(2fr 3fr);
     height: 80vh;
     width: 100vw;
     background-color: $color1;
     align-items: center;

     //  justify-items: center;


     >main {
         >div {
             min-height: 60vh;
             width: 50vw;
             background-color: #fff;
             border-radius: 1rem;
             @include flex(column, flex-start);
             padding: 1rem;

             >div {
                 @include flex();

                 >span {
                     font-size: large;
                     height: 2rem;
                     width: max-content;
                     padding: .5rem;
                     align-content: center;
                     //  justify-content: center;
                     border-radius: 1rem;
                     background-color: #5BBCFF;
                 }
             }

             >button {
                 width: 10vw;
                 height: 5vh;
                 border-radius: 1rem;
                 border: none;
                 background-color: $color3;

                 &:hover {
                     scale: 1.1;
                     cursor: pointer;
                 }
             }
         }
     }

     @media screen and (max-width : 900px) {
         @include flex(column);
         //  height: 80%;

         //  position: relative;
         //  display: block;
         //  position: absolute;
         >main {
             @include flex(column);

             >div {
                 padding: 1rem;
                 width: 90%;
                 //  min-height: 30vh;
                 height: max-content;
                 //  max-height: max-content;
                 overflow-x: scroll;
             }
         }
     }
 }

 .ReviewContainer {
     background-color: $color1;
     padding-bottom: 2rem;
     @include flex(column);

     >div {
         min-height: 10vh;
         width: 83vw;
         background-color: $color5;
         padding: 1rem;
         border-radius: 1rem;

         >main {

             //  @include flex(column, flex-start);
             >div {
                 padding-bottom: 1rem;

                 >h3 {
                     padding-left: 1rem;
                 }

                 >div {
                     @include flex(row, space-between, flex-start);
                     width: 80vw;
                     background-color: rgb(147, 141, 141);
                     padding: 1rem;
                     color: white;
                     border-radius: 1rem;

                     >div {
                         @include flex(row, center, center, 0rem);
                     }
                 }
             }
         }
     }

     @media screen and (max-width : 900px) {
         position: relative;
         padding-top: 1rem;

         >div {
             width: 90%;
         }
     }
 }

 .CreateReviewBox {
     form {

         padding: 1rem;

         @include flex(row, center, center, .3rem);

         >input {
             font-size: large;
             width: 70vw;
             height: 3rem;
             padding: 1rem;
             border-radius: 1rem;
         }

         font-size: large;

         >select {
             width: max-content;
             height: 3rem;
             font-size: large;
             border-radius: 1rem;
             cursor: pointer;


         }


         >button {
             cursor: pointer;
             padding: .2rem;
         }
     }


 }

 .CartContainer {
     @include flex(column);
     background-color: $color1;
     min-height: 100vh;

     >div {
         @include flex();
         padding: 2rem;
     }

     >table {
         margin: 2rem;
         width: 80vw;
         min-height: 30vh;
         //  max-height: 50vh;
         //  overflow: hidden;
         background-color: $color5;
         font-size: large;
         border-radius: 1rem;
         padding: 1rem;

         >span {
             @include flex(column);

             >p {
                 color: gray;
                 font-size: medium;
             }

             //  align-self: center;
         }

         >thead {
             height: 5vh;
             background-color: $color4;
             color: whitesmoke;
         }

         >tbody {
             >tr {
                 //  padding: 1rem;

                 >td {
                     padding: 0.5rem 0rem;
                     padding-left: 3rem;

                     >img {

                         height: 5rem;
                     }

                     >button {
                         height: 2rem;
                         width: 2rem;
                         background-color: red;
                         cursor: pointer;
                         border-radius: 1rem;

                         &:hover {
                             scale: 1.1;
                         }
                     }
                 }
             }
         }

         >tfoot {
             >tr {
                 //  @include flex(row, space-between, center, 0rem);

                 >td {

                     //  justify-content: flex-end;
                     padding-left: 2rem;


                 }

             }


         }

     }

     >div {
         >button {
             height: 8vh;
             width: 15vw;
             background-color: $color4;
             border: none;
             border-radius: 1rem;
             font-size: large;
             color: whitesmoke;

             &:hover {
                 scale: 1.1;
                 cursor: pointer;
             }
         }
     }

     //  @media screen and (max-width : 500px) {
     //      width: 100%;
     //      @include flex(column);
     //      height: 100%;


     //  }
 }


 .PlaceOrderContainer {
     background-color: $color1;
     width: 100vw;
     min-height: 100vh;
     @include grid(2fr 3fr);
     align-items: center;
     justify-items: center;
     overflow: hidden;


     >aside {

         >h2 {
             color: gray;
             padding: 1rem 2rem;
         }

         >form {
             @include flex(column);
             background-color: $color2;
             padding: 2rem;
             border-radius: 1rem;

             >div {
                 @include grid(0.5fr 1fr);

                 >label {
                     font-size: large;
                     color: whitesmoke;
                 }

                 >input {
                     border: none;
                     color: whitesmoke;
                     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                     //  border-radius: .5rem;
                     background-color: $color2;
                     border-bottom: 1px solid $color3 ;
                 }
             }

             >button {
                 width: max-content;
                 padding: .5rem;
                 height: 5vh;
                 border: none;
                 border-radius: .5rem;
                 font-size: large;
                 background-color: $color3;

                 //  color: white;
                 &:hover {
                     scale: 1.1;
                     cursor: pointer;
                 }
             }
         }

     }

     >main {


         >h2 {
             color: gray;
             padding: 0rem 5rem;
         }

         >table {

             margin: 2rem;
             width: 50vw;
             min-height: 30vh;
             //  max-height: 50vh;
             //  overflow: hidden;
             background-color: $color5;
             font-size: large;
             border-radius: 1rem;
             padding: 1rem;


             >tbody {

                 >tr {
                     //  padding: 1rem;

                     >td {
                         padding: 0.5rem 0rem;
                         padding-left: 3rem;

                         >img {

                             height: 5rem;
                         }

                         >button {
                             height: 2rem;
                             width: 2rem;
                             background-color: red;
                             cursor: pointer;
                             border-radius: 1rem;

                             &:hover {
                                 scale: 1.1;
                             }
                         }
                     }

                 }

             }



             >tfoot {
                 >tr {
                     //  @include flex(row, space-between, center, 0rem);

                     >td {
                         padding: 0.5rem 0rem;
                         padding-left: 3rem;
                         //  justify-content: flex-end;
                         padding-left: 2rem;


                     }

                 }


             }

         }
     }

     @media screen and (max-width : 850px) {

         width: 100vw;
         min-height: 100vh;
         @include flex(column);
         //  overflow: scroll;

         >main {
             @include flex(column);
             width: 100%;

             >table {
                 width: max-content;
                 display: block;
                 width: 80%;
                 //  margin: 1rem;
             }
         }
     }
 }


 .MyOrderContainer {
     background-color: $color1;
     width: 100vw;
     min-height: 100vh;

     >main {
         @include flex(column);

         >h2 {
             @include flex();
             padding: 2rem;
         }


         >table {
             background-color: whitesmoke;
             //  min-height: 50vh;
         }

         //  >table {
         //      @include flex();

         //      >tbody {
         //          @include flex(column);
         //          width: 60vw;
         //          min-height: 30vh;
         //          padding: 3rem;
         //          background-color: $color5;
         //          border-radius: 1rem;
         //          //  overflow: scroll;

         //          //  &::-webkit-scrollbar {
         //          //      display: hidden;
         //          //  }

         //          >tr {
         //              @include grid(1fr 1fr 1fr, 12rem);


         //          }
         //      }
         //  }
     }

     @media screen and (max-width : 500px) {
         width: 100%;

         //  height: max-content;
         >main {


             >table {
                 //  padding: 1rem;
                 overflow: scroll;
                 display: block;
             }
         }
     }
 }

 .SearchBox {

     >div {

         @include flex(row, center, center, 0rem);

         >input {
             min-width: 1rem;
             height: 2.5rem;
             border-radius: 1rem;
             padding: 0.5rem;
             //  width: 5rem;
             //  @include flex();
         }
     }

 }

 .UserProfileImageOption {

     padding-left: 4rem;

     .personal-image {
         text-align: center;
     }

     .personal-image input[type="file"] {
         display: none;
     }

     .personal-figure {
         position: relative;
         width: 120px;
         height: 120px;
     }

     .personal-avatar {
         cursor: pointer;
         width: 120px;
         height: 120px;
         box-sizing: border-box;
         border-radius: 100%;
         border: 2px solid transparent;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
         transition: all ease-in-out 0.3s;
     }

     .personal-avatar:hover {
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
     }

     .personal-figcaption {
         cursor: pointer;
         position: absolute;
         top: 0px;
         width: inherit;
         height: inherit;
         border-radius: 100%;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0);
         transition: all ease-in-out 0.3s;
     }

     .personal-figcaption:hover {
         opacity: 1;
         background-color: rgba(0, 0, 0, 0.5);
     }

     .personal-figcaption>img {
         margin-top: 32.5px;
         width: 50px;
         height: 50px;
     }

 }

 //  .table-container {
 //      max-width: 70vw; // Adjust as needed
 //      margin: 0 auto;

 //      table {
 //          width: 100%;
 //          border-collapse: collapse;

 //          th,
 //          td {
 //              border: 1px solid #ccc;
 //              padding: 8px;
 //              text-align: center;
 //          }

 //          th {
 //              background-color: #f2f2f2;
 //          }

 //          tr:nth-child(even) {
 //              background-color: #f2f2f2;
 //          }

 //          tr:hover {
 //              background-color: #ddd;
 //          }
 //      }
 //  }







 .AdminContainer {
     background-color: $color1;
     margin: 1rem;
     padding: 2rem;
     border-radius: 1rem;
     min-height: 100vh;
     width: 98%;
     overflow: scroll;
     @include grid(1fr 5fr);

     >aside {
         background-color: $color4;
         padding-top: 2rem;
         padding-left: 2rem;
         border-radius: .5rem;
         @include flex(column, flex-start, flex-start, 2rem);

         img {
             height: 5rem;
             width: 5rem;
             border-radius: 1rem;
         }

         >li {
             background-color: rgb(178, 198, 211);
             padding: .4rem;
             width: 90%;
             border-radius: .5rem;
             font-size: large;
             //  color: white;
             cursor: pointer;
             @include flex(row, flex-start);

             &:hover {
                 background-color: $color3;
                 scale: 1.1;
                 transition-duration: 200ms;
             }

         }
     }

     >main {
         background-color: $color5;
         border-radius: .5rem;
         min-height: 100vh;

         >h2 {
             padding-bottom: 1rem;
         }

         //  @include flex(column);
         padding: 2rem;
     }

     @media screen and (max-width : 1200px) {
         @include flex(column);
         overflow: scroll;

         >aside {
             overflow: scroll;
             width: 100%;
             padding: 1rem;
             @include flex(row, flex-start);
         }
     }
 }

 .TableStyle {
     //  width: 100%;

     //  >thead {}

     //  >tbody {
     //      >tr {
     //          >td {

     //          }
     //      }
     //  }
     //  height: fit-content;
     width: 70vw;
     border-collapse: collapse;
     border-spacing: 0;
     margin-bottom: 20px;


     >tfoot {

         >div {
             position: absolute;
             //  background-color: $color5;
             width: 70vw;
             @include flex();
             padding: 2rem;

             >button {
                 height: 2rem;
                 width: 2rem;
                 border-radius: 50%;
                 border: none;
                 cursor: pointer;

                 &:hover {
                     scale: 1.05;
                 }


             }
         }
     }
 }

 th,
 td {
     >img {
         width: 5rem;
         height: 5rem;
     }

     padding: 10px;
     text-align: left;
     border-bottom: 1px solid #ddd;
 }

 th {
     background-color: #f2f2f2;
 }


 @media screen and (max-width: 600px) {

     /* Make table responsive */
     table {
         overflow-x: auto;
     }

 }


 .cardsContainer {
     //  width: 60%;
     @include grid(1fr 1fr 1fr);

     @media screen and (max-width : 2500px) {
         @include flex(row, flex-start);
     }

     @media screen and (max-width : 400px) {
         @include flex(column, );

     }
 }



 .CardContainer {
     border-radius: 8px;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     background-color: #ffffff;
     padding: 20px;
     transition: all 0.3s ease;

     &:hover {
         transform: translateY(-5px);
         box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
     }

     height: 10rem;
     width: 22vw;
     border-radius: 1rem;
     font-size: larger;
     background-color: $color3;
     //  cursor: pointer;
     @include flex(column);

     @media screen and (max-width : 400px) {
         width: 100%;

     }
 }


 //chats styles
 .ChartContainer {
     height: 50vh;

     width: 60vw;
     @include flex();
     margin: 3rem;

     @media screen and (max-width : 1200px) {
         align-items: flex-start;
     }

     @media screen and (max-width : 400px) {
         width: 60%;

     }
 }



 .form-container {
     max-width: 500px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;

     h2 {
         text-align: center;
         margin-bottom: 20px;
     }

     .form-group {
         margin-bottom: 20px;

         label {
             display: block;
             font-weight: bold;
             margin-bottom: 5px;
         }

         input[type='text'],
         input[type='number'],
         input[type='file'] {
             width: 100%;
             padding: 10px;
             font-size: 16px;
             border: 1px solid #ccc;
             border-radius: 5px;
         }
     }

     button {
         display: block;
         width: 100%;
         padding: 10px;
         background-color: #007bff;
         color: #fff;
         border: none;
         border-radius: 5px;
         font-size: 16px;
         cursor: pointer;
         transition: background-color 0.3s;

         &:hover {
             background-color: #0056b3;
         }
     }
 }


 .bannerContainer {
     margin-top: 5rem;

     .image-banner {
         position: relative;
         width: 100%;
         height: 300px;

     }

     .image {
         width: 100%;
         height: 100%;
         background-size: cover;
         background-position: center;
         position: relative;

         >img {
             //  margin-top: 5rem;
             width: 90vw;
         }
     }

     .overlay {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);

     }

     .content {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;
         color: #fff;
         z-index: 1;
     }

     h2 {
         font-size: 36px;
         margin-bottom: 20px;
     }

     p {
         font-size: 18px;
         margin-bottom: 30px;
     }

     .button {
         display: inline-block;
         background-color: #007bff;
         color: #fff;
         padding: 12px 30px;
         font-size: 16px;
         text-decoration: none;
         border-radius: 5px;
         transition: background-color 0.3s;
     }

     .button:hover {
         background-color: #0056b3;
     }


     @media screen and (max-width: 768px) {
         .image-banner {
             height: 200px;

         }

         h2 {
             font-size: 28px;

         }

         p {
             font-size: 16px;

         }

         .button {
             padding: 10px 20px;

         }

     }

 }