 $color1 : #FFD1E3;
 $color2 : #5BBCFF;
 $color3 : #FFFAB7;
 $color4 : #7EA1FF;
 $color5 : white;


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
     color: black;
 }

 li {
     text-decoration: none;
     list-style: none;
 }

 @import "./mixin.scss";

 .LoginContainer {
     width: 100vw;
     height: 100vh;
     @include flex();
     background-color: $color1;

     >form {
         @include flex(column);
         width: 30vw;
         height: 50vh;
         background-color: $color2;
         border-radius: 1rem;

         >div {
             @include grid(2fr 1fr, 0rem);
             width: 20vw;
             //  height: 5vh;
             font-size: larger;

             >label {
                 color: white;
             }

             >input {
                 font-size: large;
                 border: none;
                 background-color: $color2;
                 color: white;
                 border-bottom: 1px solid gray;
             }

         }

         >p {
             cursor: pointer;
             color: white;
             text-decoration: underline black 1px;
         }

         >button {
             height: 7vh;
             width: 10vw;
             cursor: pointer;
             border-radius: 1rem;
             border: none;
             background-color: $color3;
             font-size: large;

             &:hover {
                 scale: 1.1;
             }
         }
     }
 }

 .NavBarContainer {
     @include flex(row, space-between, center, 1rem);
     width: 100%;
     height: 10vh;
     background-color: $color1;
     padding: 1rem 3rem;

     >div {
         >h2 {
             text-transform: uppercase;
         }
     }

     >div {
         @include flex(row, space-between, center, 0.5rem);

         >span {
             //  border: 1px solid black;
             min-height: 1.5rem;
             min-width: 1rem;
             @include flex();
             border-radius: 50%;
             padding: 1px;
             font-size: large;
             position: absolute;
             margin-left: 1.3rem;
             margin-top: 1.3rem;
             background-color: red;
             color: white;
         }

         >div {

             >div {
                 position: absolute;
                 margin-top: -0.3rem;
                 padding: 0.5rem;
                 padding-top: 0;


                 >dialog {
                     //  border: 1px solid black;
                     //  position: absolute;
                     //  margin-top: -1rem;

                     border: none;

                     >ul {
                         >li {
                             background-color: $color5;
                             cursor: pointer;
                             font-weight: 500;
                             padding: .3rem;
                             font-size: 1.1rem;

                             &:hover {
                                 color: blue;
                                 font-weight: 700;
                             }
                         }
                     }
                 }
             }
         }
     }
 }

 .sideBarContainer {
     padding: 1rem;
     border: 1px solid black;
     @include flex(column, center, flex-start);

     >h2 {
         font-weight: 500;
         color: rgb(172, 140, 140);
     }

     >form {
         @include flex(column, flex-start);
         //  height: 50vh;

         >div {
             @include flex(row);

             >label {
                 font-weight: 800;
                 font-size: large;
             }

             >select {
                 width: 10vw;
                 height: 5vh;
                 border-radius: 1rem;
                 padding: 0rem 1rem;
                 background-color: $color3;
                 border: 2px solid gray;
                 font-size: 1rem;

                 >option {
                     background-color: $color3;
                     align-items: center;

                 }
             }
         }

         >button {
             //  align-self: flex-end;
             width: 10vw;
             height: 5vh;
             background-color: $color4;
             border-radius: .5rem;
         }
     }
 }

 .HomeContainer {
     @include flex(column);
     background-color: $color1;
     min-height: 100vh;
 }

 .ProductContainer {
     //  background-color: $color1;
     width: 90vw;
     min-height: 100vh;
     //  background-color: $color5;

     @include grid(1fr 4fr, 2rem);

     >aside {
         background-color: $color5;
         border-radius: 1rem;
         padding: 1.5rem;

         >div {

             >h2 {
                 font-weight: 400;
                 color: lightpink;
                 padding-bottom: 1rem;
             }

             >div {
                 @include flex(column, center, flex-start, 0.5rem);

                 >ul {
                     max-height: 60vh;
                     width: 100%;
                     background-color: whitesmoke;
                     overflow-x: scroll;
                     padding: 0.5rem;
                     border-radius: 1rem;

                     &::-webkit-scrollbar {
                         display: none;
                     }

                     >li {
                         font-size: large;
                         padding-bottom: 0.5rem;
                         cursor: pointer;

                         &:hover {
                             scale: 1.01;
                             color: white;
                             font-weight: 600;
                             background-color: #7EA1FF;
                         }
                     }
                 }
             }

             >div {
                 padding: 1rem;

                 >label {
                     font-size: large;
                     font-weight: 700;
                 }

                 >div {
                     @include flex();

                     >button {
                         width: 4.5rem;
                         height: 2rem;
                         font-size: 1rem;
                         background-color: whitesmoke;
                         border-radius: .5rem;
                         cursor: pointer;
                     }
                 }


             }
         }
     }

     >main {
         background-color: $color5;
         flex: 4;
         border-radius: 1rem;

         @include flex(column, flex-start);
         padding: 1rem;

         >div {
             @include flex(row, center, center, 0);

             >input {
                 min-width: 1rem;
                 height: 2.5rem;
                 border-radius: 1rem;
                 padding: 0.5rem;
             }
         }

         >div {
             @include grid(1fr 1fr 1fr 1fr, 1rem);
         }
     }
 }

 .ProductCardContainer {
     height: 50vh;
     width: 15.5vw;
     background-color: $color4;
     border-radius: 1rem;
     padding: .2rem;
     @include flex(column);

     &:hover {
         scale: 1.02;
         cursor: pointer;
         border: 1px solid black;
     }

     >img {
         height: 30vh;
         width: 15vw;
         object-fit: fit;
     }

     >div {
         @include flex(column, center, center, 0);

         //  background-color: $;
         >p {
             font-weight: 400;
             color: whitesmoke;
         }
     }
 }

 .SliderContainer {
     @include flex(column);

     >img {
         height: 60vh;
         object-fit: fill;
     }

     >div {
         @include flex();

         >button {
             height: 3rem;
             width: 3rem;
             font-size: large;
             background-color: $color4;
             border-radius: 1rem;
         }
     }

 }

 .ProductDescriptionContainer {
     @include grid(2fr 3fr);
     height: 80vh;
     width: 100vw;
     background-color: $color1;
     align-items: center;

     //  justify-items: center;


     >main {
         >div {
             min-height: 60vh;
             width: 50vw;
             background-color: #fff;
             border-radius: 1rem;
             @include flex(column, flex-start);
             padding: 1rem;

             >div {
                 @include flex();

                 >span {
                     font-size: large;
                     height: 2rem;
                     width: max-content;
                     padding: .5rem;
                     align-content: center;
                     //  justify-content: center;
                     border-radius: 1rem;
                     background-color: #5BBCFF;
                 }
             }

             >button {
                 width: 10vw;
                 height: 5vh;
                 border-radius: 1rem;
                 border: none;
                 background-color: $color3;

                 &:hover {
                     scale: 1.1;
                     cursor: pointer;
                 }
             }
         }
     }
 }

 .ReviewContainer {
     background-color: $color1;
     @include flex();

     >div {
         min-height: 30vh;
         width: 83vw;
         background-color: $color5;
         padding: 1rem;
         border-radius: 1rem;
     }
 }

 .CreateReviewBox {
     form {
         padding: 1rem;

         @include flex(row, center, center, .3rem);

         >input {
             font-size: large;
             width: 70vw;
             height: 3rem;
             padding: 1rem;
             border-radius: 1rem;
         }

         font-size: large;

         >select {
             width: max-content;
             height: 3rem;
             font-size: large;
             border-radius: 1rem;
             cursor: pointer;


         }


         >button {
             cursor: pointer;
             padding: .2rem;
         }
     }
 }

 .CartContainer {
     @include flex(column);
     background-color: $color1;
     min-height: 100vh;

     >div {
         @include flex();
         padding: 2rem;
     }

     >table {
         margin: 2rem;
         width: 80vw;
         min-height: 30vh;
         //  max-height: 50vh;
         //  overflow: hidden;
         background-color: $color5;
         font-size: large;
         border-radius: 1rem;
         padding: 1rem;

         >span {
             @include flex(column);

             >p {
                 color: gray;
                 font-size: medium;
             }

             //  align-self: center;
         }

         >thead {
             height: 5vh;
             background-color: $color4;
             color: whitesmoke;
         }

         >tbody {
             >tr {
                 //  padding: 1rem;

                 >td {
                     padding: 0.5rem 0rem;
                     padding-left: 3rem;

                     >img {

                         height: 5rem;
                     }

                     >button {
                         height: 2rem;
                         width: 2rem;
                         background-color: red;
                         cursor: pointer;
                         border-radius: 1rem;

                         &:hover {
                             scale: 1.1;
                         }
                     }
                 }
             }
         }

         >tfoot {
             >tr {
                 //  @include flex(row, space-between, center, 0rem);

                 >td {

                     //  justify-content: flex-end;
                     padding-left: 2rem;


                 }

             }


         }

     }

     >div {
         >button {
             height: 8vh;
             width: 15vw;
             background-color: $color4;
             border: none;
             border-radius: 1rem;
             font-size: large;
             color: whitesmoke;

             &:hover {
                 scale: 1.1;
                 cursor: pointer;
             }
         }
     }
 }


 .PlaceOrderContainer {
     background-color: $color1;
     width: 100vw;
     min-height: 100vh;
     @include grid(2fr 3fr);
     align-items: center;
     justify-items: center;
     overflow: hidden;


     >aside {

         >h2 {
             color: gray;
             padding: 1rem 2rem;
         }

         >form {
             @include flex(column);
             background-color: $color2;
             padding: 2rem;
             border-radius: 1rem;

             >div {
                 @include grid(0.5fr 1fr);

                 >label {
                     font-size: large;
                     color: whitesmoke;
                 }

                 >input {
                     border: none;
                     color: whitesmoke;
                     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                     //  border-radius: .5rem;
                     background-color: $color2;
                     border-bottom: 1px solid $color3 ;
                 }
             }

             >button {
                 width: 10vw;
                 height: 5vh;
                 border: none;
                 border-radius: .5rem;
                 font-size: large;
                 background-color: $color3;

                 //  color: white;
                 &:hover {
                     scale: 1.1;
                     cursor: pointer;
                 }
             }
         }

     }

     >main {


         >h2 {
             color: gray;
             padding: 0rem 5rem;
         }

         >table {

             margin: 2rem;
             width: 50vw;
             min-height: 30vh;
             //  max-height: 50vh;
             //  overflow: hidden;
             background-color: $color5;
             font-size: large;
             border-radius: 1rem;
             padding: 1rem;


             >tbody {

                 >tr {
                     //  padding: 1rem;

                     >td {
                         padding: 0.5rem 0rem;
                         padding-left: 3rem;

                         >img {

                             height: 5rem;
                         }

                         >button {
                             height: 2rem;
                             width: 2rem;
                             background-color: red;
                             cursor: pointer;
                             border-radius: 1rem;

                             &:hover {
                                 scale: 1.1;
                             }
                         }
                     }

                 }

             }



             >tfoot {
                 >tr {
                     //  @include flex(row, space-between, center, 0rem);

                     >td {
                         padding: 0.5rem 0rem;
                         padding-left: 3rem;
                         //  justify-content: flex-end;
                         padding-left: 2rem;


                     }

                 }


             }

         }
     }
 }


 .MyOrderContainer {
     background-color: $color1;
     width: 100vw;
     min-height: 100vh;

     >main {


         >h2 {
             @include flex();
             padding: 2rem;
         }

         >table {
             @include flex();

             >tbody {
                 @include flex(column);
                 width: 60vw;
                 min-height: 30vh;
                 padding: 3rem;
                 background-color: $color5;
                 border-radius: 1rem;
                 //  overflow: scroll;

                 //  &::-webkit-scrollbar {
                 //      display: hidden;
                 //  }

                 >tr {
                     @include grid(1fr 1fr 1fr, 12rem);


                 }
             }
         }
     }
 }